.App {
  text-align: center;
}

.MuiTabs-indicator {
  background-color: #ef5350 !important;
}

.codeBox {
  padding: 0px !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ef5350 !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #ef5350 !important;
}
